---
layout: page
title: Piráti v Plzeňském kraji
description: Pirátská strana v Plzeňském kraji je otevřená a ráda přivítá dobrovolníky a odpoví na dotazy kritiků.
keywords: kontakt, adresa, telefon, mail, facebook, kde najdu, kde jsou
---

{% include ms/item.html 
    img='plzen.jpg'
    name="Plzeň"
    area="Plzeň"
    link="/plzen/"
    president="pavel.sramek"
    %}
        
{% include ms/item.html 
    img='mstachovsko.jpg'
    name="Tachovsko"
    area="Tachovsko"
    link="/tachovsko/"
    president="ales.jakl"
    %}
